---
openstack::all::public_address: %{ipaddress_eth1}
openstack::all::public_interface: eth1
openstack::all::private_interface: eth1
openstack::all::admin_email: rafadurancastaneda@gmail.com
openstack::all::admin_password:
openstack::all::keystone_admin_token:
openstack::all::keystone_db_password:
openstack::all::cinder_db_password:
openstack::all::cinder_user_password:
openstack::all::nova_user_password:
openstack::all::nova_db_password:
openstack::all::glance_user_password:
openstack::all::glance_db_password:
# Neutron
openstack::all::neutron_user_password:
openstack::all::neutron_db_password:
openstack::all::bridge_interface: eth3
openstack::all::ovs_enable_tunneling: false
openstack::all::network_vlan_ranges: physnet1
openstack::all::bridge_mappings:
  - physnet1:br-ex
openstack::all::bridge_uplinks: br-ex:eth3
openstack::all::tenant_network_type: local
openstack::all::metadata_shared_secret:
openstack::all::fixed_range: 10.0.0.0/24
# rabbit
openstack::all::rabbit_password:
openstack::all::rabbit_user: openstack
openstack::all::libvirt_type: qemu
openstack::all::secret_key:
openstack::all::mysql_root_password:
openstack::all::db_host: %{ipaddress_eth1}
cinder::setup_test_volume::size: 10G

openstack::auth_file::admin_password:
openstack::auth_file::admin_tenant: admin

openstack::provision::neutron_available: true
openstack::provision::setup_ovs_bridge: true
